<DOCTYPE! html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> </title>
	<style> u

  li {
    float: left;
}

	</style>


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FOOD</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('show_homepage')}}">Home</a></li>
  <li><a href="{{url_for('about_us')}}">about us</a></li>
      <li><a href="{{url_for('upload')}}">upload</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">catagories<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('desserts')}}">desserts</a></li>
          <li><a href="#">main dishes</a></li>
          <li><a href="#">appetizers</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>


<center><img  src="http://data.whicdn.com/images/189435505/large.jpg" class="img-fluid" alt="Responsive image"></center>

 
<div class="container">
  <h2>Ingredients</h2>
  <ul class="list-group">
    <li class="list-group-item">1 cup of milk</li>
    <li class="list-group-item">2 eggs</li>
    <li class="list-group-item">1.5 cups of suggars</li>
  </ul>
</div>
<div class="container">
  <h2>directions</h2>
  <ul class="list-group">
    <li class="list-group-item">put all the ingreiian together</li>
    <li class="list-group-item">mix untill you get a smooth akjn </li>
    <li class="list-group-item">lkfdjoijoik</li>
  </ul>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="3" id="comment"></textarea>
    </div>
  </form>
</div>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="item_1"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

</body>
</html>