<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desserts recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
<style>

.cool{
  margin: 5px;
}




</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand " href="#">FOOD</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('show_homepage')}}">Home</a></li>
        
        <li><a href="{{url_for('about_us')}}">about us</a></li>
        <li><a href="{{url_for('upload')}}">upload</a></li>
    <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('desserts')}}">desserts</a></li>
            <li><a href="{{url_for('main_dish')}}">main dish</a></li>
            <li><a href="{{url_for('appetizers')}}">appetizers</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>



  
<div class="container">
	<center><h2>Main Dish Recipes</h2></center>
<div class="col-md-6">

	{% for recipe in main_dish_recipes %}

		<div class="thumbnail cool">
		<a href="{{url_for('specific', id=recipe.id)}}">
		<img src="{{ recipe.images }}">
			<div class="caption">
			{{recipe.caption}}
			</div>
		</a>
	</div>
    {% endfor %}
</div>
</div>


<div class="col-md-8"></div>
<div class="col-md-4">
<!--
<form action='POST'>
<div class="special">
	<div class="panel panel-default">

                <ul class="list-group">
                    <li class="list-group-item">
                        suggar free
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="special" type="checkbox" value="suggar_free"/>
                        </div>
                    </li>
                </ul>
                      <ul class="list-group">
                    <li class="list-group-item">
                        glutten free
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="special" type="checkbox" value="glutten_free"/>
                        </div>
                    </li>
                </ul>
                  <ul class="list-group">
                    <li class="list-group-item">
                        viggen
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="special" type="checkbox" value="viggen"/>
                        </div>
                    </li>
                </ul>
              </div>
<input type="submit" value="Submit">

	</div>
</div>
</form>
-->

      </div>
    </div>
  </div>
</div>

</body>
</html>
