<DOCTYPE! html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> </title>
	<style> u

  li {
    float: left;
}

	</style>


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand " href="#">FOOD</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('show_homepage')}}">Home</a></li>
        
        <li><a href="{{url_for('about_us')}}">about us</a></li>
        <li><a href="{{url_for('upload')}}">add recipe</a></li>
    <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('desserts')}}">desserts</a></li>
            <li><a href="{{url_for('main_dish')}}">main dish</a></li>
            <li><a href="{{url_for('appetizers')}}">appetizers</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

{% for rec in rec %}
   

<div class="container">
    <center><h2>{{rec.caption}}</h2><center>
    <center> <img src="bla.jpg" class="img-rounded" alt="food picture" width="174" height="136"> </center>
    <br>
<center><span class="likebtn-wrapper" data-theme="custom" data-icon_l="thmb7-u" data-icon_d="thmb7-d" data-icon_size="16" data-icon_l_c_v="#5405fb" data-icon_d_c_v="#5405fb" data-label_c_v="#000000" data-brdr_c="#ffffff" data-f_family="Brush Script MT" data-label_fs="r" data-identifier="item_1" data-show_like_label="false" data-counter_frmt="km" data-counter_zero_show="true" data-share_enabled="false" data-tooltip_enabled="false"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
</center>
</div>
<br>
<div class="container">
  <h3>Ingredients</h3>
  <ul class="list-group">
    <li>{{rec.ingredients}}</li>
  </ul>
</div>


<div class="container">
  <h3>Instructors</h3>
  <ul class="list-group">
    <li>{{ rec.instructors }}</li>
  </ul>
</div>

{% endfor %}

<br>
<br>
<br>

<form action="{{ url_for('show_homepage') }}" method = 'post'>

  <div class="container">
    <div class="comments">
      <div class="form-group">
        <label for="comments">Add Comment:</label>
        <textarea class="form-control" rows="2" name="comments"></textarea>
      </div>
    </div>
          <input type="submit" value="Submit">

  </div>
  </form>


{% for rec in rec %}
<div class="container">
<h3> comments:</h3>
<ul class="list-group">
  <li>{{ rec.comments }}</li>
</ul>
</div>
{% endfor %}





</body>
</html>